@import 'variables.scss';

body {
	background-color: #f4f4f4;
	font-family: Tahoma, Arial;
	padding: 0;
	margin: 0;
}

h1, h2, h3 ,h4 ,h5 ,h6 {
	margin-left: 10px;
	margin-top: 10px;
	font-weight: normal;
	color: #222;
}

.wrapper {
	width: 70%;
	min-height: 500px;
	margin: 0 auto;
	margin-top: 100px;

	.nav-holder {
		width: 100%;
		min-height: 50px;
		background-color: green;

		.nav {
			display: inline;
			list-style-type: none;
			margin-left: -38px;

			li {
				display: inline-block;
				height: 50px;
				width: 100px;
				margin-right: -5px;
				text-align: center;
				line-height: 50px;

				&:hover {
					background: darkgreen;
				}

				a {
					display: inline-block;
					color: #fff;
					text-decoration: none;
					height: 50px;
					width: 100px;
				}
			}
		}
	}

	.left {
		float: left;
		width: 71%;
		min-height: 500px;
		background-color: #fff;
		margin-top: 10px;
		border: thin solid #E3E3E3;

		.form {
			float: left;
			margin-left: 10px;
			width: 100%;
			margin-bottom: 10px;

			label {
				display: block;
				margin-top: 10px;
			}

			input {
				display: block;
				margin-top: 10px;
				padding: 5px;
				width: 500px;
			}

			textarea {
				display: block;
				margin-top: 10px;
				padding: 5px;
			}

			.btn {
				background-color: green;
				border: none;
				width: 100px;
				padding: 10px;
				color: #fff;

				&:hover {
					background-color: darkgreen;
					cursor: pointer;
				}
			}
		}

		article {
			width: 98%;
			margin: 0 auto;
			margin-top: 10px;
			margin-bottom: 10px;

			header {
				a {
					color: green;
					text-decoration: none;
					font-size: 1.6em;

					&:hover {
						color: darkgreen;
						text-decoration: underline;
					}
				}
			}

			.time {
				font-size: small;
				color: #ccc;
			}

			.body {
				margin-top: 5px;
				font-size: small;
			}
		}

		.error {
			width: 98%;
			height: 30px;
			background-color: green;
			overflow: hidden;
			margin: 0 auto;
			line-height: 30px;
			color: #fff;

			.msg {
				margin-left: 10px;
			}
		}

		hr {
			width: 98%;
			border: thin solid #f4f4f4;
		}
	}

	.right {
		float: left;
		width: 27%;
		min-height: 500px;
		background-color: #fff;
		margin-top: 10px;
		margin-left: 1%;
		border: thin solid #E3E3E3;
	}
}