# Turn Rewrite Engine On
RewriteEngine on

# Rewrite for projects.php
RewriteRule ^custom$ post.php [NC,L]

# NC makes the rule non case sensitive
# L makes this the last rule that this specific condition will match
# $ in the regular expression makes the matching stop so that "customblah" will not work

# Rewrite for user.php?u=xxxxx
RewriteRule ^post/([0-9a-zA-Z]+)$ post.php?u=$1 [NC,L]